/* --- Background & Box --- */
body.login-page {
    background-color: #393e43; /*  #333437 sama dengan mockup */
  }
  .login-box {
    width: 400px;
    margin: auto;
  }
  
  /* --- Logo dan Judul --- */
  /* .login-logo {
    margin: auto;
  } */

  .login-logo img {
    max-width: 180px;
    margin-bottom: 1rem;
  }
  .login-logo b.text-center {
    color: #fff;
    font-size: 1.2rem;
    white-space: nowrap; /* agar tidak pindah baris */
    display: block;
    text-align: center;
  }
  
  /* --- Card --- */
  .login-card-body {
    background: #393e43;/*#383A3F;  kotak form */
    border-radius: 8px;
    padding: 2rem;
  }
  
  /* --- Input --- */
  .login-card-body .form-control {
    background: #6D6F7A; /* greyish */
    border: none;
    color: #fff;
    height: 50px;
    font-size: 1rem;
  }
  .login-card-body .form-control:focus {
    box-shadow: none;
    border-color: #4A4C52;
  }
  
  .input-group {
    background-color: #333437; /* pink cerah */
    border-color: #fff;
    height: 50px;
    font-size: 1.1rem;
    font-weight: 600;
  }
  /* --- Icon dalam Input --- */
  .input-group-text {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.2rem;
  }
  
  /* --- Tombol Login --- */
  .btn-primary {
    background-color: #FF2D5C; /* pink cerah */
    border-color: #FF2D5C;
    height: 50px;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .btn-primary:hover {
    background-color: #E02751;
    border-color: #E02751;
  }
  
  /* --- Link Daftar --- */
  .login-card-body .mb-1 a {
    color: #2ECC71; /* hijau link */
  }
  .login-card-body .mb-1 a:hover {
    color: #27AE60;
  }
  
  /* --- Footer --- */
  .login-box p.text-center {
    color: #bbb;
    font-size: 0.9rem;
  }
  .login-box p.text-center a {
    color: #2ECC71;
  }
  .footer {
    width: 500px;
    margin: auto;
  }
  .footer p.text-center {
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
  }